<a href="https://colab.research.google.com/github/brook-miller/2023mbai417/blob/main/2-class/events_to_aggregates.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px

from datetime import datetime, timedelta
from dateutil.parser import parse

In [ ]:
subscribers = pd.read_csv('https://raw.githubusercontent.com/brook-miller/msai339-students/main/tidy/subscribers.csv')
subscribers['subscribe_date'] = pd.to_datetime(subscribers['date'])

In [ ]:
months = pd.DataFrame()
months["month"] = pd.date_range('2022-01-01','2022-12-01', freq='MS').tolist()

In [ ]:
joined = subscribers.join(months, how="cross")
joined = joined.loc[joined["month"] >= joined["date"]]
joined = joined.reset_index(drop = True)
joined

,customer id,event,date,monthly_amount,subscribe_date,month
0,1,subscribed,2/9/2022,50,2022-02-09,2022-03-01
1,1,subscribed,2/9/2022,50,2022-02-09,2022-04-01
2,1,subscribed,2/9/2022,50,2022-02-09,2022-05-01
3,1,subscribed,2/9/2022,50,2022-02-09,2022-06-01
4,1,subscribed,2/9/2022,50,2022-02-09,2022-07-01
...,...,...,...,...,...,...
62,13,subscribed,4/28/2022,50,2022-04-28,2022-10-01
63,13,subscribed,4/28/2022,50,2022-04-28,2022-11-01
64,13,subscribed,4/28/2022,50,2022-04-28,2022-12-01
65,14,subscribed,10/20/2022,50,2022-10-20,2022-11-01
66,14,subscribed,10/20/2022,50,2022-10-20,2022-12-01

In [ ]:
monthly_revenue = joined.groupby(by="month")['monthly_amount'].sum().reset_index()
monthly_revenue

       month  monthly_amount
0 2022-03-01             150
1 2022-04-01             150
2 2022-05-01             200
3 2022-06-01             200
4 2022-07-01             200
5 2022-08-01             350
6 2022-09-01             350
7 2022-10-01             500
8 2022-11-01             600
9 2022-12-01             650